<div class="btn-group" dropdown>
    <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-animated">
            Select timespan <span class="caret"></span>
    </button>
    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-animated">
      <li role="menuitem"><a class="dropdown-item" href="#">Hour</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Day  </a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Week</a></li>
    </ul>
  </div>

<canvas id="chart"></canvas>
<div style="display: block">
    <canvas baseChart
    [datasets]="lineChartData" 
    [labels]="lineChartLabels" 
    [options]="lineChartOptions"
    [colors]="lineChartColors" 
    [legend]="lineChartLegend" 
    [chartType]="lineChartType" 
    [plugins]="lineChartPlugins">
    </canvas>
</div>

